// ============================================================================
//  _____     ______     ______   ______     __  __     __         ______
// /\  __-.  /\  ___\   /\  ___\ /\  __ \   /\ \/\ \   /\ \       /\__  _\
// \ \ \/\ \ \ \  __\   \ \  __\ \ \  __ \  \ \ \_\ \  \ \ \____  \/_/\ \/
//  \ \____-  \ \_____\  \ \_\    \ \_\ \_\  \ \_____\  \ \_____\    \ \_\
//   \/____/   \/_____/   \/_/     \/_/\/_/   \/_____/   \/_____/     \/_/
//
// ============================================================================

$enable-box-sizing-border-box: true;

// $oo-container-max: var(--size-main-container);
// $oo-base-spacing-size: var(--size-spacing-base);

// $oo-transition-duration: var(--duration-transition);
// $oo-transition-timing: ease-in-out;

// ============================================================================
//   ______     ______     __         ______     ______     ______
//  /\  ___\   /\  __ \   /\ \       /\  __ \   /\  == \   /\  ___\
//  \ \ \____  \ \ \/\ \  \ \ \____  \ \ \/\ \  \ \  __<   \ \___  \
//   \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\ \_\  \/\_____\
//    \/_____/   \/_____/   \/_____/   \/_____/   \/_/ /_/   \/_____/
//
// ===========================================================================

// $color-white: var(--color-default-white);
// $color-black: var(--color-default-black);
// $color-gray: var(--color-default-gray);

// $color-1: var(--color-palette-1);
// $color-2: var(--color-palette-2);
// $color-3: var(--color-palette-3);
// $color-4: var(--color-palette-4);
// $color-5: var(--color-palette-5);

// $color-body-text: var(--color-body-text);
// $color-body-background: var(--color-body-background);

// =========================================================================
//  ______   ______     __   __     ______   ______
// /\  ___\ /\  __ \   /\ "-.\ \   /\__  _\ /\  ___\
// \ \  __\ \ \ \/\ \  \ \ \-.  \  \/_/\ \/ \ \___  \
//  \ \_\    \ \_____\  \ \_\\"\_\    \ \_\  \/\_____\
//   \/_/     \/_____/   \/_/ \/_/     \/_/   \/_____/
//
// =========================================================================

// $font-heading: var(--font-heading);
// $font-heading-bold-weight: var(--font-heading-bold-weight);
// $font-primary: var(--font-primary);
// $font-primary-light-weight: var(--font-primary-light-weight);
// $font-primary-bold-weight: var(--font-primary-bold-weight);

// $font-size-base: var(--size-font-base);
// $font-size-minor: var(--size-font-minor);
// $font-size-major: var(--size-font-major);
// $font-size-super: var(--size-font-super);
// $font-line-height: var(--size-line-height-base);

// =========================================================================
//  __    __     ______
// /\ "-./  \   /\  __ \
// \ \ \-./\ \  \ \ \/\_\
//  \ \_\ \ \_\  \ \___\_\
//   \/_/  \/_/   \/___/_/
//
// =========================================================================

$breakpoints: (480px xs xsmall, 600px s small, 768px m medium, 992px l large, 1280px xl xlarge, 1440px xxl xxlarge);

// =========================================================================
//  ______     ______     __     _____
// /\  ___\   /\  == \   /\ \   /\  __-.
// \ \ \__ \  \ \  __<   \ \ \  \ \ \/\ \
//  \ \_____\  \ \_\ \_\  \ \_\  \ \____-
//   \/_____/   \/_/ /_/   \/_/   \/____/
//
// =========================================================================

$columns: 12;

$named-widths: (
  1: full,
  0.5: half,
  0.333: third,
  0.25: quarter,
  0.2: fifth,
  0.166: sixth,
  0.125: eighth
);
