<svg width="19px" height="14px" viewBox="0 0 19 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>returns copy</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Strap-PDP" transform="translate(-524.000000, -842.000000)" fill="#222222">
            <g id="Gray-Stripe-BG" transform="translate(-1.000000, 831.000000)">
                <g id="ValuePropositions" transform="translate(1.000000, 0.000000)">
                    <g id="shipping/warranty" transform="translate(299.000000, 9.000000)">
                        <g id="Free-Returns" transform="translate(225.000000, 2.000000)">
                            <g id="returns-copy">
                                <g id="Capa_1">
                                    <path d="M18.2913934,7.48882614 C18.2913934,6.67339279 17.6684426,6.01776798 16.8936475,6.01776798 L15.9280738,5.85795944 L14.2733607,3.23546021 C14.25,3.21497194 14.2305328,3.16580008 14.2071721,3.1453118 C13.9502049,2.78471816 13.5413934,2.5347612 13.0663934,2.5347612 L9.92827869,2.5347612 L9.92827869,0.840019283 C9.92827869,0.376984264 9.60122951,0 9.19631148,0 L0.731967213,0 C0.32704918,0 0,0.376984264 0,0.840019283 L0,7.36179884 L0,10.4760167 L0,10.6768018 L0,11.5373093 C0,12.0126373 0.365983607,12.3732309 0.794262295,12.3732309 L1.93504098,12.3732309 C2.1920082,13.3238869 3.00963115,14 3.99856557,14 C4.9875,14 5.80512295,13.299301 6.06209016,12.3732309 L8.66290984,12.3732309 L13.0897541,12.3732309 C13.3467213,13.3238869 14.1643443,14 15.1532787,14 C16.1422131,14 16.9598361,13.299301 17.2168033,12.3732309 L18.2057377,12.3732309 C18.657377,12.3732309 19,11.9880514 19,11.5373093 L19,10.4760167 C19,10.0416652 18.6768443,9.68107159 18.2913934,9.63599738 L18.2913934,7.48882614 Z M3.99856557,12.8690472 C3.39508197,12.8690472 2.92397541,12.348645 2.92397541,11.7380944 C2.92397541,11.1275438 3.41844262,10.6071416 3.99856557,10.6071416 C4.60204918,10.6071416 5.07315574,11.1275438 5.07315574,11.7380944 C5.07315574,12.348645 4.60204918,12.8690472 3.99856557,12.8690472 L3.99856557,12.8690472 Z M11.4,5.94401019 C11.3454918,5.94401019 11.2987705,5.89893599 11.2987705,5.83747116 L11.2987705,3.75996006 C11.2987705,3.70259289 11.3415984,3.65342103 11.4,3.65342103 L13.1053279,3.65342103 C13.1403689,3.65342103 13.1715164,3.66981165 13.1870902,3.69849523 L14.5147541,5.77600634 C14.557582,5.84566647 14.5108607,5.93991254 14.4329918,5.93991254 L11.4,5.93991254 L11.4,5.94401019 L11.4,5.94401019 Z M15.1532787,12.8690472 C14.5497951,12.8690472 14.0786885,12.348645 14.0786885,11.7380944 C14.0786885,11.1275438 14.5731557,10.6071416 15.1532787,10.6071416 C15.7567623,10.6071416 16.2278689,11.1275438 16.2278689,11.7380944 C16.2278689,12.348645 15.7334016,12.8690472 15.1532787,12.8690472 L15.1532787,12.8690472 Z" id="Shape"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
