<svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>shipping</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Strap-PDP" transform="translate(-299.000000, -840.000000)" fill="#222222">
            <g id="Gray-Stripe-BG" transform="translate(-1.000000, 831.000000)">
                <g id="ValuePropositions" transform="translate(1.000000, 0.000000)">
                    <g id="shipping/warranty" transform="translate(299.000000, 9.000000)">
                        <g id="Free-Shipping">
                            <g id="shipping" transform="translate(8.000000, 8.000000) rotate(-90.000000) translate(-8.000000, -8.000000) ">
                                <g id="Capa_1">
                                    <g id="flights">
                                        <path d="M16,7.67579173 C16,7.03139814 15.44,6.46755375 14.8,6.46755375 L10.4,6.46755375 L6.4,0.0236178207 L4.8,0.0236178207 L6.8,6.46755375 L2.4,6.46755375 L1.2,4.85656977 L0,4.85656977 L0.8,7.67579173 L0,10.4950137 L1.2,10.4950137 L2.4,8.88402972 L6.8,8.88402972 L4.8,15.3279656 L6.4,15.3279656 L10.4,8.88402972 L14.8,8.88402972 C15.44,8.88402972 16,8.32018533 16,7.67579173 L16,7.67579173 Z" id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
