<svg width="12px" height="16px" viewBox="0 0 12 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>secure</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Strap-PDP" transform="translate(-950.000000, -840.000000)" fill="#222222">
            <g id="Gray-Stripe-BG" transform="translate(-1.000000, 831.000000)">
                <g id="ValuePropositions" transform="translate(1.000000, 0.000000)">
                    <g id="shipping/warranty" transform="translate(299.000000, 9.000000)">
                        <g id="100%-secure-checkout" transform="translate(651.000000, 0.000000)">
                            <g id="secure">
                                <g id="Capa_1">
                                    <path d="M11.1487226,6.4614645 L10.8445093,6.4614645 L10.8445093,5.00233187 C10.8445093,2.30355452 8.75469519,0.0491111143 6.14267614,0.000986166954 C6.07130599,-0.000328722318 5.92869401,-0.000328722318 5.85735594,0.000986166954 C3.24527273,0.0491111143 1.15549069,2.30355452 1.15549069,5.00233187 L1.15549069,6.4614645 L0.851245369,6.4614645 C0.382415679,6.4614645 -2.66453526e-15,6.9572435 -2.66453526e-15,7.56955456 L-2.66453526e-15,14.8879653 C-2.66453526e-15,15.499586 0.382415679,16 0.851277445,16 L11.1487226,16 C11.6175522,16 12,15.499586 12,14.8879653 L12,7.56955456 C12,6.95727637 11.6175843,6.4614645 11.1487226,6.4614645 L11.1487226,6.4614645 Z M6.96473192,11.2213308 L6.96473192,13.4326787 C6.96473192,13.6858935 6.75787076,13.9001876 6.51059325,13.9001876 L5.4894709,13.9001876 C5.24216131,13.9001876 5.03530016,13.6858935 5.03530016,13.4326787 L5.03530016,11.2213308 C4.79546439,10.9793912 4.65583551,10.6448505 4.65583551,10.2747749 C4.65583551,9.57347868 5.18480858,8.97086493 5.85738801,8.94302215 C5.92866193,8.94006365 6.0714343,8.94006365 6.14270822,8.94302215 C6.81528765,8.97086493 7.34426072,9.57347868 7.34426072,10.2747749 C7.34419656,10.6448505 7.20456769,10.9793912 6.96473192,11.2213308 L6.96473192,11.2213308 Z M8.83940915,6.4614645 L6.14267614,6.4614645 L5.85735594,6.4614645 L3.16062293,6.4614645 L3.16062293,5.00233187 C3.16062293,3.39471538 4.43547016,2.06546094 6,2.06546094 C7.56452984,2.06546094 8.83944123,3.39471538 8.83944123,5.00233187 L8.83944123,6.4614645 L8.83940915,6.4614645 Z" id="Shape"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
