<svg width="13px" height="16px" viewBox="0 0 13 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>warranty</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Strap-PDP" transform="translate(-754.000000, -841.000000)" fill="#222222">
            <g id="Gray-Stripe-BG" transform="translate(-1.000000, 831.000000)">
                <g id="ValuePropositions" transform="translate(1.000000, 0.000000)">
                    <g id="shipping/warranty" transform="translate(299.000000, 9.000000)">
                        <g id="24-month-warranty" transform="translate(455.000000, 1.000000)">
                            <g id="warranty">
                                <g id="Capa_1">
                                    <g id="Group">
                                        <path d="M8.4917284,10.4598961 C8.78738635,9.96555844 9.22209804,9.71231169 9.79856354,9.70555844 C10.375029,9.69880519 10.6659619,9.40503896 10.6754121,8.82696104 C10.6835123,8.25158442 10.9339441,7.81667532 11.4280574,7.52223377 C11.9235207,7.22644156 12.0308486,6.82867532 11.748691,6.32488312 C11.4678834,5.82244156 11.4678834,5.32 11.748691,4.81620779 C12.0308486,4.31376623 11.9241957,3.91667532 11.4280574,3.62088312 C10.9339441,3.32441558 10.6828373,2.89018182 10.6754121,2.3121039 C10.6659619,1.73672727 10.375029,1.44296104 9.79856354,1.43620779 C9.22209804,1.4281039 8.78738635,1.17620779 8.4917284,0.68187013 C8.19607044,0.186181818 7.79848475,0.0788051948 7.29627124,0.361090909 C6.79405773,0.642025974 6.29049419,0.642025974 5.78828068,0.361090909 C5.28539216,0.0794805195 4.88780646,0.186181818 4.59214851,0.68187013 C4.29716558,1.17688312 3.86177887,1.42877922 3.28598838,1.43620779 C2.71087291,1.44296104 2.41859005,1.73672727 2.41048983,2.3121039 C2.40103958,2.89018182 2.15060784,3.32374026 1.65649455,3.62088312 C1.16103123,3.91667532 1.0523533,4.31309091 1.33586093,4.81620779 C1.61801852,5.32 1.61801852,5.82244156 1.33586093,6.32488312 C1.0523533,6.82867532 1.16035621,7.22711688 1.65649455,7.52223377 C2.15060784,7.81667532 2.4017146,8.25158442 2.41048983,8.82696104 C2.41859005,9.40436364 2.71087291,9.69880519 3.28598838,9.70555844 C3.86245389,9.71231169 4.29716558,9.96555844 4.59282353,10.4598961 C4.88848148,10.9555844 5.28606718,11.062961 5.78828068,10.7793247 C6.29049419,10.5010909 6.79405773,10.5010909 7.29627124,10.7793247 C7.79848475,11.0622857 8.19674546,10.9555844 8.4917284,10.4598961 L8.4917284,10.4598961 Z M6.543626,8.72633766 C4.80072912,8.72633766 3.38859114,7.31355844 3.38859114,5.56987013 C3.38859114,3.82753247 4.80072912,2.41475325 6.543626,2.41475325 C8.28517284,2.41475325 9.69731082,3.82753247 9.69731082,5.56987013 C9.69731082,7.31355844 8.28517284,8.72633766 6.543626,8.72633766 L6.543626,8.72633766 Z" id="Shape"></path>
                                        <path d="M3.23536202,10.1681558 C2.62919572,10.1681558 2.54819354,9.88587013 2.54819354,9.88587013 L0.180904866,14.5408831 L2.07905592,14.3274805 L3.12870915,15.9077403 C3.12870915,15.9077403 5.31576797,11.3425455 5.31576797,11.3729351 C4.18241249,11.3445714 4.63332462,10.1985455 3.23536202,10.1681558 L3.23536202,10.1681558 Z" id="Shape"></path>
                                        <path d="M10.5053076,10.0682078 C8.77591104,10.2491948 9.1275955,10.6787013 8.73203486,11.0123117 C8.27707262,11.4978701 7.70870733,11.4026494 7.70870733,11.4026494 L10.3784041,15.9982338 L11.0351968,14.2964156 L12.902297,14.5402078 L10.5053076,10.0682078 L10.5053076,10.0682078 Z" id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
