/* ==========================================================================
   # TABLES
   ========================================================================== */

/**
 * 1. Ensure tables fill up as much space as possible.
 */

table {
  width: 100%; /* [1] */
}

/* ==========================================================================
   # OTHER
   ========================================================================== */

i {
  font-style: normal;
  line-height: 1;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  background: none;
}

input {
  // font-family: $color-body-text;

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    opacity: 1;
  }

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  // color: $color-body-text;
}
