/**
 *
 * 1. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 2. Ensure the page always fills at least the entire height of the viewport.
 * 3. https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/
 */

html {
  overflow-y: scroll; /* [1] */
  min-height: 100%; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  min-width: 320px;
  // background-color: $color-body-background;
}

body,
html {
  height: 100%;
}

@if ($enable-box-sizing-border-box) {
  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
