/**
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 5. https://davidwalsh.name/font-smoothing
 */

html {
  font-size: 100%;
}

body {
  // font-size: $font-size-base; /* [1] */
  // line-height: $font-line-height; /* [1] */
  // font-family: $font-primary;
  // color: $color-body-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: $font-heading;
  margin: 0;
  // margin-bottom: $oo-base-spacing-size;
  // color: $color-body-text;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* [5] */
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}
