/* ==========================================================================
   # FONT
   ========================================================================== */

.u-text-center {
  // stylelint-disable-next-line
  text-align: center !important;
}

.u-text-bold {
  // stylelint-disable-next-line
  font-weight: 700 !important;
}

.u-text-nowrap {
  white-space: nowrap;
}

/* ==========================================================================
   # HIDE
   ========================================================================== */

/**
 * Hide visually and from screen readers.
 */

.u-visually-hidden {
  @include visually-hidden;
}

.u-visually-shown {
  @include visually-shown;
}

.u-label-hidden {
  @include visually-hidden;

  // No placeholders, so force show labels
  .u-no-placeholder & {
    @include visually-shown;
  }
}

/* ==========================================================================
   # CONTAINERS
   ========================================================================== */

.max-width-container {
  // max-width: $oo-container-max;
  margin: 0 auto;
}

/* ==========================================================================
   # UTILITY
   ========================================================================== */

// Skip to content button
// Overrides .u-visually-hidden when focused
.u-skip-link:focus {
  @include visually-shown(absolute);
  z-index: 10000;
  // background-color: $color-body-background;
  // color: $color-body-text;
  transition: none;
}

.u-dev-control {
  position: relative;
  z-index: 1000;
}

.u-clear-padding {
  // stylelint-disable-next-line
  margin: 0 !important;
}

.u-clear-padding {
  // stylelint-disable-next-line
  padding: 0 !important;
}

.u-push-down {
  margin-top: auto !important;
}

.u-push- {
  margin-bottom: auto !important;
}

.u-push-left {
  margin-right: auto !important;
}

.u-push-right {
  margin-left: auto !important;
}
